/*
 * Modal
 */

#modalBackdrop {
  position: fixed !important;
  background-color: var(--modalBackDropBackgroundColor) !important;
}

.modal-default {
  width: 85.42%;
  max-width: 1230px;
  max-height: calc(100% - 30px);
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}

@media (--lg-viewport) {
  .modal-default {
    position: fixed !important;
  }
}

div.ctools-modal-content {
  width: 100% !important;
  margin: 0;
  border: 0;
  box-shadow: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: transparent;
}

div.ctools-modal-content .modal-header {
  padding: 0;
  background: none;
}

div.ctools-modal-content .modal-title {
  text-shadow: none;
  color: #fff;
}

div.ctools-modal-content a.close {
  position: absolute;
  display: block;
  top: 0;
  right: 18px;
  background: none;
  color: #646464;
  text-decoration: none;
  outline: 0;
  line-height: 1;
  font-size: 0;
}

div.ctools-modal-content a.close:before {
  display: block;
  content: "\f00d";
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 20px;
  text-align: center;
  top: 0;
  left: 0;
  color: var(--modalBackgroundColor);
  font-family: var(--uiIconFont);
  font-size: var(--uiIconFontSize);
}

div.ctools-modal-content a.close:hover:before {
  color: #C7C7C7;
}


div.ctools-modal-content .modal-content {
  width: 100% !important;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

/*
div.ctools-modal-content {
  font-size: 12px;
  border: solid 2px var(--modalBorderColor);
  box-shadow: -1em 1em 1em rgba(var(--modalBackDropBackgroundColor), 0.5);
  border-radius: 10px;
  background: transparent;
}

div.ctools-modal-content a.close {
  box-sizing: border-box;
  font-size:0;
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  border: 2px solid var(--modalBackgroundColor);
  border-radius: 20px;
  right: 20px;
  top: 10px;
  background: none;
  color: var(--modalBackgroundColor);
  overflow: hidden;
}

div.ctools-modal-content a.close:hover,
div.ctools-modal-content a.close:hover:before {
  background-color: var(--modalBackgroundColor);
  color: var(--modalTextColor);
}

div.ctools-modal-content .modal-content {
  padding: 20px;
  margin: 0;
  font-family: var(--uiFont);
  font-size: var(--uiFontSize--md);
  padding: 20px;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: #fff;
  width: 100% !important;
  border-radius: 5px;
}
*/
